version: "3.7"

services:
  openresty:
    build:
      context: ./openresty
      dockerfile: ./Dockerfile
    image: openresty
    hostname: openresty
    container_name: openresty
    volumes:
      - ./openresty/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./logs/nginx:/var/log/nginx
      - /home/twkim/lamis-pulmorad/build:/var/www/html/main
      - /home/twkim/lamis-ohif/platform/viewer/dist:/var/www/html/ohif
    # Let's Encrypt
    network_mode: "host"
    #- 443:443  SSL
    restart: on-failure
  orthanc:
    image: jodogne/orthanc-plugins
    hostname: orthanc
    container_name: orthanc
    volumes:
      # Orthanc Configuration
      - ./orthanc/config.json:/etc/orthanc/orthanc.json:ro
      # Persist Data
      #- ./orthanc/db:/var/lib/orthanc/db/
    network_mode: "host"
    # depends_on:
    #   - postgres
    restart: unless-stopped
